<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Django Login Test
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
    $(document).ready(function(){
        console.log("ready");


        $('#login').keydown(function (e) {
          if (e.keyCode == 13) {
            $('#btn_login').click();
          }
        });

        $('#signup').keydown(function (q) {
          if (q.keyCode == 13) {
            $('#btn_reg').click();
          }
        });

        $("#signup").hide();

    });

function btn_reg(){
    var sign_id = $('#sign_id').val();
    var sign_pw = $('#sign_pw').val();
    var sign_pw2 = $('#sign_pw2').val();
    var sign_name = $('#sign_name').val();
    var sign_birth = $('#sign_birth').val();
    var lock = 0;

    if(sign_id == ''){
        swal("입력 오류", "아이디 값을 입력하세요", "info");
        lock = 1;
    }
    else if(sign_pw == ''){
        swal("입력 오류", "비밀번호 값을 입력하세요", "info");
        lock = 1;
    }
    else if(sign_name == ''){
        swal("입력 오류", "이름 값을 입력하세요", "info");
        lock = 1;
    }
    else if(sign_pw != sign_pw2){
        swal("입력 오류", "패스워드가 일치하지 않습니다", "info");
        lock = 1;
    }

    if(lock == 0){
        $.ajax({
            type: "GET",
            url: "/main/regist",
            async: false,
            data: {
                sign_id: sign_id,
                sign_pw: sign_pw,
                sign_name: sign_name,
                sign_birth: sign_birth
            },
            success: function (data) {
                if(data.return == 'success'){
                    alert("계정 생성 완료");
                    location.reload()
                }
                else if(data.return == 'fail'){
                    alert("ID 중복 / 생성 불가");
                    $("#sign_id").val("");
                    $("#sign_pw").val("");
                    $("#sign_pw2").val("");
                    $("#sign_name").val("");
                    $("#sign_birth").val("");
                }
            },
        });
    }


}

function btn_signup(){

    $('#login').hide();
    $('#signup').show();

    $('#sign_id').val('');
    $('#sign_pw').val('');
    $('#sign_pw2').val('');
    $('#sign_name').val('');
    $('#login_id').val('');
    $('#login_pw').val('');

}
function btn_back(){
    $('#login').show();
    $('#signup').hide();

    $('#sign_id').val('');
    $('#sign_pw').val('');
    $('#sign_pw2').val('');
    $('#sign_name').val('');
    $('#login_id').val('');
    $('#login_pw').val('');


}

function btn_login() {

        var login_id = $('#login_id').val();
        var login_pw = $('#login_pw').val();
        var lock = 0;


        if (login_id == '') {
            swal("입력 오류", "아이디 값을 입력하세요", "info");
            lock = 1;
        }
        else if (login_pw == '') {
            swal("입력 오류", "비밀번호 값을 입력하세요", "info");
            lock = 1;
        }

            if (lock == 0) {
                $.ajax({
                    type: "GET",
                    url: "/main/log_in",
                    async: false,
                    data: {
                        login_id: login_id,
                        login_pw: login_pw

                    },
                    success: function (data) {
                        if (data.return == 'success') {
//                            alert("login-ok");
                            $(location).attr('href',"/main/Home");
                        }
                        else if (data.return == 'fail') {
                            alert("login-fail");
                                $('#login_pw').val(""); //Login 실패시 value 값 초기화
                        }
                    },
                });
            }

    }


</script>

</head>
<body>
<br>

<!--<div  id="Login" class="input-group-prepend">-->
<div id="login">
<h1> Login</h1>

    <span class="input-group-text" >ID  </span>
  <input id="login_id" type="text" class="form-control"><br>

    <span class="input-group-text" >PassWord  </span>
  <input name="test" id="login_pw"type="password" class="form-control"><br>


    <button onclick ="btn_login()" id="btn_login" type="button" class="btn btn-success">Login</button>
    <button onclick ="btn_signup()" id="btn_signup" type="button" class="btn btn-info">Sign Up</button>
</div>
<!--</div>-->

<!--=======================================================================-->
<!--<div id = "regist" class="input-group-prepend">-->
<div id="signup">
    <h1> Sign Up</h1>

    <span class="input-group-text"  >ID  </span>
  <input id="sign_id" type="text" placeholder="(필수)" class="form-control"><br>

    <span class="input-group-text" > PassWord  </span>
  <input id="sign_pw" type="password" placeholder="(필수)" class="form-control"><br>

     <span class="input-group-text" > PassWord check  </span>
  <input id="sign_pw2" type="password" placeholder="(필수)" class="form-control"><br>

     <span class="input-group-text" > Name  </span>
  <input  id="sign_name" type="text" placeholder="(필수)" class="form-control"><br>

    <span class="input-group-text" > Birth  </span>
  <input  id="sign_birth" type="text" placeholder="(선택사항)" class="form-control"><br>


     <button onclick="btn_reg()" id="btn_reg"type="button" class="btn btn-info">Regist</button>

     <button onclick="btn_back()" type="button" class="btn btn-warning">Back</button>

</div>
<!--</div>-->


</body>
</html>